.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav_logo {
  width: 50px;
  object-fit: contain;
}

.nav_avatar {
  width: 30px;
  object-fit: contain;
}
